bin/
data/
debian/
doc/
fonts/
lib/
supplibs/
tmp/
utf8/
scripts/
.pc/
shp/
src/*.o
src/*.lo
src/*.la
src/bufrscan
src/grads
src/grib2scan
src/gribmap
src/gribscan
src/stnmap
src/Makefile*
src/stamp-h1
src/buildinfo.h
src/.libs/
config.*
udpt
Makefile
libtool
